/*#container_all{max-width: 600px;}*/
* {
    -webkit-appearance: none;
    overflow: hidden;
    text-align: center;
}



html {
/*  max-width: 900px;*/
    border: 0px;
    padding: 0%;
    margin: auto;
    background-color: #cecece;
    background-size: contain;
    font-family: 'YuGothic','Yu Gothic', sans-serif;
}

a{
    text-decoration: none;
}

.show{
    margin: 0 auto;
    margin-left: 35%;
    padding: 20px 40px 20px 40px;
    background-color: white;
    color: #383838;
    border-radius: 5px;
    width: 70%;
    font-size: 200%;
    position: absolute;
    text-align: center;
}
.show:hover{
     background-color: #383838;
    color: white;
}
.ex{
    padding-top: 2%;
    color: #383838;
    font-size: 120%;
}
.caution{
    margin-top: -4%;
    padding-bottom: 2%;
    color: #383838;
    font-size: 70%;
}
