/*#container_all{max-width: 600px;}*/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}


html {
/*  max-width: 900px;*/
    border: 0px;
    padding: 0%;
    margin: auto;
    background-color: #cecece;

    background-size: contain;
}
.header{
    margin: 0%;
    padding: 0%;
    width: 100%
        
}
body{
/*    background-color:#DD9F3E;*/
    margin: auto;
    background-size: auto;
}



/*--ボタン--*/
.select FORM{
    margin-left: -2%;
    margin-top: 4%;
    position: fixed; 
    float: left;
    width: 10%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 30%;
    background: #403984;
}

.select FORM input{
    float: left;
    font-size: 50%;
    padding: 13% 0 13% 20%;
    border-radius: 10%;
    border: none;
    outline: none;
    appearance: none;
}



.image{
    border: 0px;
    box-decoration-break: none;
    height: auto;
    width: 100%;
    background-color: #403984;
    color: white;
}
.image:active{
    background-color: #c49a3d;
}
.image:hover{
    background-color: #c49a3d;
}

/*---------*/
.experience{
    border: 0px;
    box-decoration-break: none;
    height: auto;
    width: 100%;
    background-color: #403984;
    color: white;
}
.experience:active{
    background-color: #c49a3d;
}
.experience:hover{
    background-color: #c49a3d;
}

/*---------*/
.concept{
    border: 0px;
    box-decoration-break: none;
    height: auto;
    width: 100%;
    background-color: #403984;
    color: white;
}
.concept:active{
    background-color: #c49a3d;
}
.concept:hover{
    background-color: #c49a3d;
}

/*---------*/
.service{
    border: 0px;
    box-decoration-break: none;
    height: auto;
    width: 100%;
    background-color: #403984;
    color: white;
}
.service:active{
    background-color: #c49a3d;
}

.service:hover{
    background-color: #c49a3d;
}

/*-----------------*/
.output{
    margin-top: 0%;
    margin-left: 8%;
    width: 92%;
}
